.pad1{
    padding-right: 0px;
}

.nopad{
    margin-bottom: 0px;
    margin-top: 2px;
}

.mar{
    margin-top: 24px;
    padding-left: 1px;
}

.white {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
background-size: 100% 100%;
background-repeat: no-repeat;

}

span {
    background-color: rgba(0, 0, 0, 0.459);
}